body{
  font-family: sans-serif;
  color:black;
}
h2{
  color: darkred;
}
h4{
  display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-left: 15%;
}
#costura{
  height: 350px;
  
}
#pintura{
  height: 300px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-left: 10%;
    }
h3{
  color:darkred;
}
  nav li{
    display: inline;
    
  }
  nav a{
    text-transform: uppercase;
    color: darkred;
    font-weight: bold;
    font-size:22px;
    text-decoration: none;
  }